global:
  resolve_timeout: 1m

route:
  group_by: ['alertname', 'device']
  group_wait: 5s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'telegram-channel'

receivers:
- name: 'telegram-channel'
  telegram_configs:
  - bot_token: 'BOT TOKEN'
    chat_id: -100xxx CHAT-id #without ''
    parse_mode: 'HTML'
    message: |
      {{ if eq .Status "firing" }}
      <b>🚨 [АВАРИЯ] Мониторинг TWAMP Light</b>
      {{ else }}
      <b>✅ [ВОССТАНОВЛЕНИЕ] Мониторинг TWAMP Light</b>
      {{ end }}
      ────────────────────
      {{ range .Alerts }}
      📌 <b>Событие:</b> {{ .Labels.alertname }}
      ℹ️ <b>Описание:</b> {{ .Annotations.description }}
      ⚠️ <b>Важность:</b> <code>{{ .Labels.severity | toUpper }}</code>
      ⏰ <b>Время фиксации:</b> <code>{{ .StartsAt.UTC.Format "15:04:05" }} UTC</code>
      ────────────────────
      {{ end }}